:root{
    --primary: #1a202c;
}
html,
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    color: #fff;
    padding: 15px 40px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

body {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #bccbd2;
    color: #222;
    line-height: 1.35;
    min-height: 100vh;
    width: 100%;
}
.btnMostrar {
    background-color: var(--primary);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
main {
  padding: 30px 20px;
}
.empleado-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin: 10px;
    padding: 15px;
    width: calc(33.333% - 20px); /*  muestra 3 tarjetas como maximo con cierto tañano*/
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;/* Alinea las tarjetas en línea */
}
.empleado-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
}
.empleado-card h3 {
    margin: 10px 0;
    font-size: 18px;
}
.empleado-card p {
    margin: 5px 0;
    font-size: 14px;
}
footer {
    text-align: center;
    padding: 15px 0;
    background-color: var(--primary);
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}
/* responsivo */
@media (max-width: 768px) {
    .empleado-card {
        width: calc(50% - 20px);
    }
}
@media (max-width: 480px) {
    .empleado-card {
        width: 100%;
        margin: 10px 0;
    }
}