body {
    font-family: sans-serif;
    padding: 20px;
    background-color: #bfbfbf
}

.perfil-header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

#avatar-img {
    width: 80px;
    /* height: 70px; */
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #333;
}

.post {
    border: 3px solid #333;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.porst-title {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: bold;
}