body {
    padding: 25px;
    font-family: 'Courier New', Courier, monospace;
}
button{
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
    cursor: pointer;
}
.tarjeta{
    margin: 20px;
    border: 2px;
    border-style: solid;
    border-radius: 20px;
    padding: 20px;
}
.contenedor{
    border: 2px;
    border-style: solid;
    margin: 10px;
}